{% extends '::base.html.twig' %}

{% block content %}

    <h1>
        {% trans %}title.edit_book{% endtrans %}
    </h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
        <input type="submit" value="{% trans %}text.update{% endtrans %}" class="btn--submit">
        <input type="hidden" id="book-cover-path-js" value="/uploads/books/covers/{{ book.bookCover }}">
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# load in multiselect dropdown ui with search  #}
    <script src="{{ asset('build/js/chosen_init.js') }}"></script>

    {# load in image upload previewer #}
    <script src="{{ asset('build/js/ssi_init.js') }}"></script>
{% endblock %}