{% extends '::base.html.twig' %}

{% block content %}

    <h1>
        {% trans %}title.add_book{% endtrans %}
    </h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
        <p>
            <a href="{{ path('worth_reading_authors_new') }}">Can't find an Author?</a>
        </p>
        <p>
            <a href="{{ path('worth_reading_genres_new') }}">Can't find a Genre?</a>
        </p>

        <input type="submit" value="{% trans %}text.create{% endtrans %}" class="btn--submit">
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# load in multiselect dropdown ui with search  #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.jquery.min.js"></script>
    <script src="{{ asset('js/chosen_init.js') }}"></script>

    {# load in image upload previewer #}
    <script src="{{ asset('assets/vendor/ssi-uploader/dist/ssi-uploader/js/ssi-uploader.min.js') }}"></script>
    <script src="{{ asset('js/ssi_init.js') }}"></script>
{% endblock %}