{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/themes/fontawesome-stars.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/themes/fontawesome-stars-o.min.css">
{% endblock %}

{% block content %}

    <h1>
        {% trans %}title.search_results{% endtrans %} "{{ searchQuery }}"
    </h1>

    {% if books | length > 0 %}

        <h3>
            {% trans %}title.books{% endtrans %}
        </h3>

        {% include '::book-grid.html.twig' with { 'books': books } %}

        <div style="clear: both"></div>

        <div>
            {{ knp_pagination_render(books) }}
        </div>

    {% endif %}

    <div style="clear: both"></div>

    <hr>

    {% if authors | length > 0 %}

        <h3>
            {% trans %}title.authors{% endtrans %}
        </h3>

        {% for author in authors %}
                {% if (loop.index % 2 != 0) or (loop.index == 1) %}
                    <div class="row">
                {% endif %}
                    <div class="col-6">
                        <div class="row">
                            <div class="author">
                                <div class="col-6">
                                    <img class="grid-image-author" src="{{ asset('uploads/authors/avatars/') }}{{ author.avatar }}" alt="">
                                </div>
                                <div class="col-6">
                                    <p class=author__name-title>{{ author.name }}</p>
                                    <p class="author__biography-grid">
                                        {{ author.biography | length > 90 ? author.biography | slice(0, 90) ~ '...' : author.biography }}
                                    </p>
                                </div>
                            </div>

                            <div class="col-2">&nbsp;</div>
                        </div>
                    </div>

                {% if loop.index % 2 == 0 or loop.last %}
                    </div>
                {% endif %}
            {% endfor %}

        <div>
            {{ knp_pagination_render(authors) }}
        </div>

    {% endif %}

    {% if authors | length == 0 and books | length == 0 %}
         <p>
             {% trans %}text.no_search_results{% endtrans %}
         </p>
    {% endif %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/jquery.barrating.min.js"></script>
    <script src="{{ asset('js/barrating_init.js') }}"></script>
{% endblock %}