{% extends '::base.html.twig' %}

{% block content %}

    <h1>
        {% trans %}title.add_author{% endtrans %}
    </h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}
    <input type="submit" value="{% trans %}text.submit{% endtrans %}" class="btn--submit">

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# load in image upload previewer #}
    <script src="{{ asset('js/ssi_init.js') }}"></script>
{% endblock %}